.DS_Store
*/.idea/*
.idea/*
.idea
.env
*/node_modules/*
agents-aea/
__pycache__/
*.pyc
debug/
site
persistant_data/
ethereum/ganache_db/
*.sql
*.log
ethereum_addresses/
agents/
*.db
*.egg-info
build/*
dist/*
*/private_key.txt